body {
    background-color: #2E3131;
    font-family: Montserrat, sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
}

#heading {
    margin: 20px;
    font-size: 3.5rem;
    color: black;
    text-align: center;
}

#input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
    background-color: #E2E2E2;
    color: black;
    border: 2px solid black;
    border-radius: inherit;
}

#output {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.2rem;
    padding: 10px;
    width: 80%;
    background-color: grey;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: inherit;
}

:focus {
    /* no focus in chromium */
    outline: none;
}

::-moz-focus-inner {
    /* no focus in firefox */
    border: 0;
}